<h2>Goodbye</h2>
<p>You have discontinued your program. We request you to enter your feedback and rating for your nutritionist.</p>
<form method="post">
Rating: <select name="rating">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>
  <option value="4">4</option>
  <option value="5">5</option>
</select><br>
Tips:<input type="text" name="tip"><br> 
Experience:<input type="text" name="exp"><br>
<input type="submit" value="submit">
